
name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v3

      - name: Gerar os arquivos da cobrinha no diretório './dist/'
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # Adicionei ?palette=github-dark no final para forçar o fundo escuro
            dist/github-contribution-grid-snake.gif?palette=github-dark
            dist/github-contribution-grid-snake.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Verificar status do repositório
        run: git status

      - name: Fazer push dos arquivos gerados para a branch de output
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
          commit_message: Atualizando animação da cobrinha
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
